mongoengine==0.17.0
requests==2.18.4
pymongo==3.7.2
Flask==0.12.2
Flask_Login==0.4.1
Werkzeug==0.14.1
numpy==1.16.2
setuptools==40.8.0
opencv-python==4.0.1.23
pytest==3.3.2
imageai==2.0.2
Keras==2.2.4
pip==19.0.3
scikit_image==0.13.1
WTForms==2.2.1
flask_mongoengine==0.9.5
Flask_Cors==3.0.3
Flask_PyMongo==2.2.0
Flask_WTF==0.14.2
pandas==0.22.0
Pillow==6.0.0
python_bcrypt==0.3.2
imageio==2.5.0
object_detection==0.0.3
skimage==0.0
scikit_learn==0.20.3
tensorflow==1.13.1
