<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Vaico Works</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/modern-business.css" rel="stylesheet">

  <link rel="stylesheet" href="../static/css/sweetalert2.min.css">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a href="/index"><img src="../static/images/logo.png" alt="logo" width="60px" height="60px"></a>
      <a class="navbar-brand" href="/index">Vaico Works</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/gallery">Procesamiento de imágenes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reports">Reportes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Contacto
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/index">Inicio</a>
      </li>
      <li class="breadcrumb-item active">Contacto</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
      <!-- Map Column -->
      <div class="col-lg-8 mb-4">
        <!-- Embedded Google Map -->
        <div style="width: 100%"><iframe width="100%" height="400"
            src="https://maps.google.com/maps?width=100%&amp;height=400&amp;hl=en&amp;coord=6.199548,-75.5815287&amp;q=Carrera%2049%2C%20n%C3%BAmero%207%20sur%2050%2C%20Medell%C3%ADn%2C%20Antioquia%2C%20Colombia%20(Bloque%2019-522)+(Vaico%20Works)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><br />
      </div>
      <!-- Contact Details Column -->
      <div class="col-lg-4 mb-4">
        <h3>Detalles de contacto</h3>
        <p>
          Universidad EAFIT
          <br>Medellin Colombia, Bloque 19-522
          <br>
        </p>
        <p>
          <abbr title="Telefono">Teléfono</abbr>: (+57) 321 308 0252
        </p>
        <p>
          <abbr title="Email">Correo</abbr>:
          <a href="info@vaico.com.co">info@vaico.com.co
          </a>
        </p>
        <p>
          <abbr title="Horas">Horas de Atención</abbr>: Lunes — Viernes: 7:00AM–6:00PM <br> Sábados: 9:00AM–1:00PM
        </p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
      <div class="col-lg-8 mb-4">
        <h3>Envíanos un mensaje</h3>
        <form method="POST">
          <div class="control-group form-group">
            <div class="controls">
              <label>Nombre completo:</label>
              <input type="text" class="form-control" name="name" required
                data-validation-required-message="Ingrese su nombre por favor.">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Número de teléfono:</label>
              <input type="text" class="form-control" name="cel" required
                data-validation-required-message="Ingrese su número de celular por favor.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Dirección de correo:</label>
              <input type="text" class="form-control" name="email" required
                data-validation-required-message="Ingrese su correo por favor.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Mensaje:</label>
              <textarea rows="10" cols="100" class="form-control" name="message" required
                data-validation-required-message="Ingrese su mensaje por favor" maxlength="999"
                style="resize:none"></textarea>
            </div>
          </div>
          <div id="success"></div>
          <!-- For success/fail messages -->
          <button type="submit" onclick="clickHandler()" value="submit" class="btn btn-danger"
            id="sendMessageButton">Enviar
            mensaje</button>

          <script>
            function clickHandler() {
              Swal.fire(
                'Mensaje enviado!',
                'Pronto Vaico Works estará comunicándose contigo',
                'success'
              )
            }

          </script>
        </form>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Vaico Works</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Contact form JavaScript -->
  <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
  <script src="../static/js/jqBootstrapValidation.js"></script>
  <script src="../static/js/contact_me.js"></script>
  <script src="../static/js/sweetaler2.min.js"></script>

</body>

</html>