<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Vaico Works</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/modern-business.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <!-- La idea es poner el logo de Vaico Works aquí -->
      <!-- Una duda es si cargar el método o sólo la página -->
      <!-- Por ahora en esta línea sólo carga la página como tal, pero realiza todo por la ruta url -->
      <a href="/index"><img src="../static/images/logo.png" alt="logo" width="60px" height="60px"></a>
      <a class="navbar-brand" href="/index">Vaico Works</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/gallery">Procesamiento de imágenes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reports">Reportes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contacto</a>
          </li>
          {% if permissions %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Gestión de usuarios
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="/register">Agregar usuario</a>
              <a class="dropdown-item" href="/delete_user">Actualizar usuario</a>
              <a class="dropdown-item" href="/delete_user">Eliminar usuario</a>
            </div>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <br>

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3" style="color: red;">Eliminar usuario</h1>

    <hr>

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Single Comment -->
        {% for user in data %}
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="../static/images/logo.png" width="60px" height="60px" alt="">
          <div class="media-body">
            <h5 class="mt-0">{{user.name}}</h5>
            <li>
              Correo electrónico: {{user.email}}
            </li>
            <li>
              Celular: {{user.cel}}
            </li>
            <li>
              Ocupación: {{user.occupation}}
            </li>
            <br>
            <a class="btn btn-danger" href="/delete_user/{{user.email}}">Eliminar
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Vaico Works</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>