<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Vaico Works</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/modern-business.css" rel="stylesheet">

  <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.ico" />


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <!-- La idea es poner el logo de Vaico Works aquí -->
        <!-- Una duda es si cargar el método o sólo la página -->
        <!-- Por ahora en esta línea sólo carga la página como tal, pero realiza todo por la ruta url -->
        <a href="/index"><img src="../static/images/vaico_icon.png" alt="logo" width="60px" height="60px"></a>
        <a class="navbar-brand" href="/index">Vaico Works</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/gallery">Procesamiento de imágenes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reports">Reportes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">Acerca de</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contacto</a>
            </li>
            {% if permissions %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Gestión de usuarios
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="/register">Agregar usuario</a>
                <a class="dropdown-item" href="/delete_user">Eliminar usuario</a>
              </div>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/logout">Cerrar sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Galería
      <!-- <small>Subheading</small> -->
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/index">Inicio</a>
      </li>
      <li class="breadcrumb-item active">Galería</li>
    </ol>

    <!-- La idea es poner una imagen de una costrucción sin identificar nada -->

    <div class="row">
      <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
          <a href="original_gallery"><img class="card-img-top" src="../static/images/2.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="original_gallery">Imágenes sin clasificación</a>
            </h4>
            <p class="card-text">Pulsando clic sobre la imagen o el título, podrá acceder a la galería que muestra los registros del día a día de la obra, en ella puede encontrar el número, la fecha, la hora y el lugar dónde fue tomada la foto</p>
          </div>
        </div>
      </div>

      <!-- En cambio acá, la idea es poner imágenes con la clasificación -->

      <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
          <a href="processed_gallery"><img class="card-img-top" src="../static/images/3.jpeg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="processed_gallery">Imágenes clasificadas</a>
            </h4>
            <p class="card-text">Pulsando clic sobre la imagen o el título, podrá acceder a la galería que muestra los registros procesados por la inteligencia artificial, donde se mostrará los obreros marcados con la etiqueta de si porta o no, casco</p>
          </div>
        </div>
      </div>

    </div>

    <h1 class="mt-4 mb-3">Zonas de trabajo</h1>

    <hr>

    <div class="row">
      {% for img in imgs %}
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="sector_gallery/{{imgs[img][0].place}}"><img class="card-img-top" src="data:image/png;base64, {{imgs[img][0].original}}"
              alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="sector_gallery/{{imgs[img][0].place}}">{{ imgs[img][0].place }}</a>
            </h4>
            <p class="card-text">Pulsando clic sobre esta sección, podrá ver todos los registros tomados en esta zona en particular</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Vaico Works</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>