<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Vaico Works</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/modern-business.css" rel="stylesheet">


  <link rel="stylesheet" href="../static/css/sweetalert2.min.css">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <!-- La idea es poner el logo de Vaico Works aquí -->
      <!-- Una duda es si cargar el método o sólo la página -->
      <!-- Por ahora en esta línea sólo carga la página como tal, pero realiza todo por la ruta url -->
      <a href="/index"><img src="../static/images/logo.png" alt="logo" width="60px" height="60px"></a>
      <a class="navbar-brand" href="/index">Vaico Works</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/gallery">Procesamiento de imágenes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reports">Reportes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contacto</a>
          </li>
          {% if permissions %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Gestión de usuarios
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="/register">Agregar usuario</a>
              <a class="dropdown-item" href="/delete_user">Eliminar usuario</a>
            </div>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  {% for img in data %}
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Reporte
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/index">Inicio</a>
      </li>
      <li class="breadcrumb-item active">Reporte</li>
    </ol>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-8">
        <img class="img-fluid" src="data:image/png;base64, {{img.prediction}}" alt="original">
      </div>
      <!-- Contact Details Column -->
      <div class="col-lg-4 mb-4">
        <h3>Registro tomado:</h3>
        <h3 class="my-3">Fecha</h3>
        <li>{{day}}/{{month}}/{{year}}</li>
        <h3 class="my-3">Horario</h3>
        <li>{{time}}</li>
        <h3 class="my-3">Lugar</h3>
        <li>{{img.place}}</li>
        <h3 class="my-3">Encargado</h3>
        <ul>
          <li>Nombre: {{name}}</li>
          <li>Correo: {{email}}</li>
          <li>Ocupación: {{occupation}}</li>
          <li>Celular: {{cel}}</li>
        </ul>
      </div>
    </div>
    <!-- /.row -->

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <hr>
    <div class="row">
      <div class="col-lg-8 mb-4">
        <h3>Realizar reporte</h3>
        <form method="POST">
          <div class="control-group form-group">
            <div class="controls">
              <label>Título</label>
              <input type="text" class="form-control" name="title" required
                data-validation-required-message="Ingrese un título por favor.">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Descripción:</label>
              <textarea rows="10" cols="100" class="form-control" name="description" required
                data-validation-required-message="Ingrese una descripción por favor" maxlength="999"
                style="resize:none"></textarea>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Destinatarios</label>
              <input type="text" class="form-control" name="recipients" required
                data-validation-required-message="Ingrese un título por favor.">
              <p class="help-block"></p>
              <p style="font-size: 10pt; color: red;">Para el envío del reporte, escriba los usuario separados por comas
                (,)
                <br>
                Ejemplo: correo@correo.com, correo2@correo.com
              </p>
            </div>
          </div>
          <div id="success"></div>
          <!-- For success/fail messages -->


          <button type="submit" onclick="clickHandler()" value="submit" class="btn btn-danger"
            id="sendMessageButton">Enviar reporte</button>

          <script>
            function clickHandler() {
              Swal.fire(
                '¡Reporte enviado!',
                'Puedes revisar en la sección de reportes, el reporte realizado',
                'success'
              )
            }

          </script>
        </form>
      </div>

    </div>
    <!-- /.row -->

  </div>
  {% endfor %}
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Vaico Works</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Contact form JavaScript -->
  <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
  <script src="../static/js/jqBootstrapValidation.js"></script>
  <script src="../static/js/contact_me.js"></script>
  <script src="../static/js/sweetaler2.min.js"></script>

</body>

</html>