<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Vaico Works</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/modern-business.css" rel="stylesheet">

  <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.ico" />


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <!-- La idea es poner el logo de Vaico Works aquí -->
        <!-- Una duda es si cargar el método o sólo la página -->
        <!-- Por ahora en esta línea sólo carga la página como tal, pero realiza todo por la ruta url -->
        <a href="/index"><img src="../static/images/vaico_icon.png" alt="logo" width="60px" height="60px"></a>
        <a class="navbar-brand" href="/index">Vaico Works</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/gallery">Procesamiento de imágenes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reports">Reportes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">Acerca de</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contacto</a>
            </li>
            {% if permissions %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Gestión de usuarios
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="/register">Agregar usuario</a>
                <a class="dropdown-item" href="/delete_user">Eliminar usuario</a>
              </div>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/logout">Cerrar sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Reportes
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/index">Inicio</a>
      </li>
      <li class="breadcrumb-item active">Reportes</li>
    </ol>

    <h4>Filtro de búsqueda</h4>
    <form method="POST">
      <div class="col-lg-6 portfolio-item">
        Desde:
        <input class="form-control" type="date" name="date1">
        hasta:
        <input class="form-control" type="date" name="date2">
        <br>
        <button type="submit" value="submit" class="btn btn-primary">Buscar</button>
      </div>
    </form>
    <hr>

    <!-- Blog Post -->
    {% for report in data|reverse %}
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">

          <div class="col-lg-6">
            <a href="/image/{{report.date_img}}">
              <img class="img-fluid rounded" src="data:image/png;base64, {{report.processed_img}}" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title">{{report.title}}</h2>
            <p class="card-text">{{report.description}}</p>
            <h4 class="my-3">Fecha </h4>
            <li>
              {{report.date_report.split(" ")[0].split("-")[2]}}/{{report.date_report.split(" ")[0].split("-")[1]}}/{{report.date_report.split(" ")[0].split("-")[0]}}
            </li>
            <h4 class="my-3">Horario </h4>
            <li>{{report.date_report.split(" ")[1].split(".")[0]}}</li>
            <h4 class="my-3">Encargado</h4>
            <ul>
              <li>Nombre: {{report.name}}</li>
              <li>Correo: {{report.email}}</li>
              <li>Ocupación: {{report.occupation}}</li>
              <li>Celular: {{report.cel}}</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}

  </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Vaico Works</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>