<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Vaico Works</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/modern-business.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a href="/index"><img src="../static/images/logo.png" alt="logo" width="60px" height="60px"></a>
        <a class="navbar-brand" href="/index">Vaico Works</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/gallery">Procesamiento de imágenes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reports">Reportes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">Acerca de</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Cerrar sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  {% for img in data %}
  <div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Registro
      <small>{{day}}/{{month}}/{{year}}</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/index">Inicio</a>
      </li>
      <li class="breadcrumb-item active">Registro {{day}}/{{month}}/{{year}}</li>
    </ol>

    <!-- Portfolio Item Row -->
    <h3 class="my-4">Registro original</h3>

    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="data:image/png;base64, {{img.original}}" alt="original">
      </div>

      <div class="col-md-4">
        <h3 class="my-3">Registro tomado</h3>
        <p>Descripción de la foto</p>
        <h3 class="my-3">Fecha: </h3>
        <ul>
          <li>Día: {{day}}</li>
          <li>Mes: {{month}}</li>
          <li>Año: {{year}}</li>
        </ul>
        <h3 class="my-3">Lugar: </h3>
        <ul>
          <li>{{img.place}}</li>
        </ul>
      </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->

    <h3 class="my-4">Registro procesado</h3>

    <div class="row">



      <div class="col-md-8">
        <img class="img-fluid" src="data:image/png;base64, {{img.prediction}}" alt="original">
      </div>

      <div class="col-md-4">
        <h3 class="my-3">Realizar reporte</h3>
        <p>Si la imagen reporta alguna anomalía, puede realizar un reporte desde aquí:</p>
        <a class="btn btn-danger" href="/report/{{img.date}}">Reporte
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}

  <br>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Vaico Works</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>